*{
    font-family : system-ui;
  }
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .button{
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid;
    text-align: center;
    background-color: mediumvioletred;
    color: white;
  }